@import "reset.css";


        /* independent classes */

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #636e72;
}
.wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* nav-menu */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2d3436;
}
header nav.menu {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    margin: 0 auto;
}
header nav.menu .menu__logo img {
    width: 60px;
    height: auto;
}
header nav.menu .menu__links li {
    font-size: 18px;
    color: #fff;
}
header nav.menu .menu__links li.link__dropdown-menu{
    position: relative;
    cursor: pointer;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area {
    display: none;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 135px;
    top: 40px;
    right: -11px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active::before {
    content: '';
    top: -16px;
    right: 12px;
    position: absolute;
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active li {
    color: #000;
    margin-bottom: 10px;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    margin: 10px 0 20px;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active li a {
    display: block;
    text-decoration: none;
    color: #000;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active li:last-child{
    margin-bottom: 0;
}
header nav.menu .menu__links li.link__dropdown-menu .dropdown-menu__area.menu-active li form.menu__exit input[type='submit'] {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 1em;
}
form.menu__exit {
    position: relative;
    z-index: 2;
}

/* switch indicator */
.block-switch {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 57px;
    margin: 40px 0 100px;
}
.block-switch .switch-indicator {
    position: absolute;
    display: block;
    width: 40%;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    bottom: -10px;
    left: 2.5%;
    transition: left 0.3s ease;
}
.switch__item {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #444f52;
    cursor: pointer;
}
.switch__item span {
    font-size: 20px;
    color: #e0e0e0;
}
.buttonSubmit {
    font-size: 18px;
    padding: 15px;
    width: 209px;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #444f52;
}


/* text field for form */
input {font-family: 'Open Sans';}

.text-field {
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #949fa3;
    color: #fff;
}
.form__text {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
::-webkit-input-placeholder {color: #e0e0e0;}
:-ms-input-placeholder {color: #e0e0e0;}
::-moz-placeholder {color: #e0e0e0;}
::placeholder {color: #e0e0e0;}


        /* index.html */

body.index form {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

body.index form.item-active {
    position: relative;
    z-index: 1;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s linear;
}
body.index form.item-active .signup_submit,
body.index form.item-active .signin_submit {
    font-size: 18px;
    padding: 15px;
    width: 209px;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #444f52;
}
body.index form.item-active .signin_submit {
    width: 150px;
}
h2.auth-title {
    font-size: 25px;
    margin-bottom: 20px;
}
a.auth-button {
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #007e65;
}

        /* main.php */

body.main {
    overflow: auto;
}
body.main section.content {
    margin-top: 100px;
}

body.main section.content p{
    line-height: 1.5em;
}


        /* personal-area.php */

body.personal-page section.profile {
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}

/* personal data */
body.personal-page section.profile .personal-data {
    padding: 20px;
    border-radius: 10px;
    background-color: #79858a;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
body.personal-page section.profile .personal-data .data__avatar {
    width: 300px;
    margin-bottom: 20px;
}
body.personal-page section.profile .personal-data .data__avatar img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
body.personal-page section.profile .personal-data .data__text ul li:first-child {
    position: relative;
    font-size: 25px;
    margin-bottom: 10px;
}
body.personal-page section.profile .personal-data .data__text ul li.text_info {
    font-size: 18px;
    margin-bottom: 5px;
}
body.personal-page section.profile .personal-data .data__text ul span {
    display: block;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
body.personal-page section.profile .personal-data .data__text ul li.button-settings {
    color: rgba(0,0,0,0.5);
    display: inline-block;
    padding-bottom: 2px;
    margin: 40px 0 0;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    transition: color 0.3s linear;
}
body.personal-page section.profile .personal-data .data__text ul li.button-settings:hover {
    cursor: pointer;
    color: #000;
    border-bottom: 1px solid #000;
}

        /* user settings - modal window */

/* window background */
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* window */
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .window__content {
    position: relative;
    width: 30%;
    height: auto;
    padding: 20px 20px 40px;
    border-radius: 10px;
    background-color: #b2bec3;
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .button-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    margin: 0;
    cursor: pointer;
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .button-close::before, 
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .button-close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: 9px;
    left: 0px;
    transform: rotate(45deg);
    background-color: #636e72;
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .button-close::before {
    transform: rotate(-45deg);
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .window__content .content_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* window buttons */    /* independent classes */
body.personal-page .content__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
body.personal-page .button__item {
    font-weight: 600;
    color: #dfe6e9;
    border: none;
    width: 30%;
    padding: 10px;
    background-color: #9ca7ac;
    border-bottom: 3px solid #8b9499;
}
body.personal-page .button__item.item-active {
    background-color: #636e72;
    border-bottom: 3px solid #50595c;
}
body.personal-page .button__item:first-child {
    border-top-left-radius: 5px;
    margin-right: -4px;
}
body.personal-page .button__item:last-child {
    border-top-right-radius: 5px;
}

/* window forms */
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .window__content .content__form {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
body.personal-page section.profile .personal-data .data__text ul .settings__modal-window.item-active .window__content .content__form.item-active {
    position: relative;
    z-index: 5;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease;
}

/* personal indicators */
body.personal-page section.profile .personal-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    border-radius: 10px;
    background-color: #79858a;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

/* block swtich */
body.personal-page section.profile .personal-indicators .block-switch {
    width: 410px;
    margin:0 0 40px 0;
}

/* content of the personal indicators */
body.personal-page section.profile .personal-indicators .indicator__item {
    position: absolute;
    z-index: -2;
    opacity: 0;
}
body.personal-page section.profile .personal-indicators .indicator__item.item-active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
}
body.personal-page section.profile .personal-indicators .indicator-form.item-active {
    width: 60%;
}
body.personal-page section.profile .personal-indicators .indicator-data.item-active {
    width: 80%;
}

/* first main switched element */
body.personal-page section.profile .personal-indicators .item__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.personal-page section.profile .personal-indicators .item__form .text-field {
    font-size: 18px;
    width: calc(100% - 30px);
}
body.personal-page section.profile .personal-indicators .item__form .form__text {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

/* second main switched element */
body.personal-page section.profile .personal-indicators .item__buttons .button__item {
    width: 50%;
} 
body.personal-page section.profile .personal-indicators .item__data .data_title {
    font-size: 22px;
    margin-bottom: 30px;
}
body.personal-page section.profile .personal-indicators .item__data li {
    font-size: 18px;
    margin-bottom: 15px;
}

/* first switched element in the second main element */

body.personal-page section.profile .personal-indicators .item__data {
    position: absolute;
    z-index: -2;
    opacity: 0;
}
body.personal-page section.profile .personal-indicators .item__data.item-active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
}


        /* admin-panel.php */
body.admin{
    overflow: auto;
    display: flex;
    align-items: center;
}

body.admin section.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}
body.admin section.content .block-switch{
    width: 450px;
}
body.admin section.content .content__table {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
body.admin section.content .content__table.item-active {
    position: relative;
    opacity: 1;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #79858a;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    transition: opacity 0.3s ease;
}
body.admin section.content .content__table.item-active table {
    border-radius: 10px;
    padding: 20px;
}
body.admin section.content .content__table.item-active table td {
    text-align: center;
    padding: 10px;
    border: 4px solid #79858a;
}
body.admin section.content .content__table.item-active table .table__title td {
    background-color: #505658;
    font-size: 22px;
    color: #dfe6e9;
    font-weight: 600;
}
body.admin section.content .content__table.item-active table .table__content td {
    background-color: #677377;
    font-size: 18px;
    color: #dfe6e9;
    font-weight: 400;
}

body.admin section.content .content__download {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
body.admin section.content .content__download.item-active {
    opacity: 1;
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
}
body.admin section.content .content__download.item-active form {
    text-align: center;
}
body.admin section.content .content__download.item-active form .form__text{
    font-size: 25px;
}
body.admin section.content .content__download.item-active form button{
    background-color: transparent;
    border: none;
    font-size: 50px;
}